useDynLib(isocir)

# Import all packages listed as Imports or Depends
import(circular)
importFrom(combinat, permn)
import(TSP)
importFrom(TSP, as.TSP)
importFrom(TSP, TSP)
importFrom("graphics", "hist.default", "par", "plot.default",
             "points.default")
  importFrom("stats", "complete.cases", "na.omit", "pchisq", "pf")
 importFrom("stats", "weighted.mean")
  importFrom("utils", "combn", "write.csv2")
# Export all names
exportPattern("^[^\\.]")

S3method(print, isocir)
S3method(plot, isocir)